body {
    --body-color:rgb(53, 58, 63);
    --main-color: #ffa228;
    --hr-color:  #ff7037;
    --box-bg-color: white;
    --text-header-color: white;
    --p-color: black;
    --top-bar-color: #202020;
    --nb-bg-color: #202020;

    
    background-color: var(--body-color);
    font-family: Optima, sans-serif;
}

h1,h2 {
    color:var(--main-color);
    font-size: 2em;
    font-weight: bold;
    margin-top:20px;
    margin-left:20px;
}
h3 {
    color:var(--main-color);
    font-size: 1.5em;
    text-align: center;
    margin-top:10px;
}
h4 {
    color:var(--main-color);
    font-size: 1em;
    text-align: center;
    margin-top:10px;
}
hr {
    border-top: 1px solid var(--hr-color);
    width:95%;
}
p {
    display: block;
    color: var(--p-color);
}

img {
    width: 100%;
}

.navbar {
    background-color:var(--top-bar-color);
    padding:0px;
    margin-bottom:30px;
}

.navbar-brand {
    background-color: var(--main-color);
    color: var(--text-header-color) !important;
    padding:10px;
    font-size: 1.5em;
    font-weight: bold;
    margin-left:10px;
}

.navbar-nav {
    margin-right:20px;
    margin-left:20px;
}

.dropdown-item.active{
    background-color: var(--main-color);
}

@media screen and (max-width: 768px) {
    .navbar {
        background-color: var(--main-color);
    }
    .navbar-toggler {
        margin-right: 20px;
    }
    .navbar-collapse {
        background-color: var(--nb-bg-color);
    }
}

.main-area {
    padding-bottom:20px;
}

.main-box, .visualizations-box{
    height: fit-content;
    background: var(--box-bg-color);
    margin-right:10px;
}

.visualization-img-box {
    padding-bottom: 10px;
    white-space:nowrap;
}
#main-img {
    float: left;
    width:50%
}

.visual-sel-img {
    outline: 1px solid var(--hr-color);
}

#sub-para {
    margin-left:20px;
    margin-bottom: 20px;;
}

.cities-table {
    margin-top:20px;
    padding-left: 20px;
    padding-right: 20px;
}

.col-head {
    background-color: var(--main-color);
    text-align:left;
    color: var(--text-header-color);
}
