body {
    background-color: lightgray;
}

h1,h2 {
    color:blue;
}
.navbar {
    background-color: white;
}
.navbar-brand {
    background-color: blue;
    color: white;
    margin:10px;
}
p {
    display: block;
}
.main-box {
    background: white;
    margin-left:10px;
    margin-top:20px;  
}
.visualizations-box {
    background: white;
    margin-left:10px;
    margin-top:20px;  
}
img {
    margin:auto;
}

#main-img {
    float: left;
}

.visualizations-img {
    width:100%;
}


